/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Loading screen */

#loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #231532;
}
  
#loading-screen > div {
    width: 18px;
    height: 18px;
    margin: 5px;
    background-color: #FFFFFF;
    border-radius: 100%;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
  
#loading-screen .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
  
#loading-screen .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
  
@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}
  
@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

/* Error screen */

#error-screen {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #231532;
    display: none;
}

#error-title {
    color: #FFFFFF;
    font-size: 24pt;
    font-weight: bold;
}

#error-message {
    color: #FFFFFF;
    font-size: 14pt;
    padding: 20px 40px;
}

/* Initializing animation */

#initializing {
    background-image: url('./initializing.gif');
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 50%);
    z-index: 10;
    display: none;
}

/* Transform controls */

#transform-controls {
    position: fixed;
    bottom: 25px;
    left: 0;
    width: 100%;
    display: none;
    z-index: 2;
}

#rotation-slider, #scale-slider {
    display: block;
    width: 100%;
    margin: 20px auto;
} 

#tap-to-place {
    display: block;
    margin: auto;
    width: 200px;
    padding: 20px;
    background-color: #231532;
    color: #FFFFFF;
    border: 0;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}

/* Color controls */

#color-controls {
    position: fixed;
    bottom: 25px;
    left: 0;
    width: 100%;
    text-align: center;
    display: none;
    z-index: 2;
}

#black, #silver, #orange, #blue {
    display: inline-block;
    width: 50px;
    margin: 10px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}

#black {
    background-color: #000000;
}

#silver {
    background-color: #CCCCCC;
}

#orange {
    background-color: #ff7300;
}

#blue {
    background-color: #0011ff;
}


